/* ***** Media Queries ***** */
html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  font-family: "Lato", sans-serif;
  background: #E10098;
}

img {
  max-width: 100%;
}
